/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 22px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.close-btn:hover {
  color: #38bdf8;
  transform: scale(1.2);
}
