body {
  font-family: Arial;
  background: #020617;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* FORM CONTAINER */
.container {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  width: 350px;
}

/* INPUTS */
.input-group {
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg,#38bdf8,#22c55e);
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/* SUCCESS */
#successMsg {
  margin-top: 15px;
  color: #22c55e;
}