/* PARA MA-ALIGN X BUTTON */
.container {
  position: relative;
}

/* X BUTTON */
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 20px;
  background: rgba(255,255,255,0.1);
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.close-btn:hover {
  color: #38bdf8;
  transform: scale(1.2);
}
