/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #020617;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hero h1 {
    font-size: 28px;
  }

  .course-card {
    max-width: 90%;
  }
}
