* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #020617;
  color: white;
}

/* PARTICLES */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* GLASS EFFECT */
.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 15px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.logo {
  color: #38bdf8;
  font-weight: bold;
}

/* NAV */
.nav-links {
  display: flex;
  gap: 25px;
}

.login-btn {
  background: linear-gradient(135deg,#38bdf8,#22c55e);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  padding: 40px;
  text-align: center;
}

/* GRADIENT TEXT */
.gradient-text {
  font-size: 48px;
  background: linear-gradient(90deg, #38bdf8, #22c55e, #9333ea);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 5s infinite linear;
}

@keyframes gradientMove {
  0% { background-position: 0%; }
  100% { background-position: 200%; }
}

.hero p {
  margin: 20px 0;
  color: #cbd5f5;
}

.hero-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.cta {
  background: #22c55e;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
}

.secondary {
  border: 1px solid #38bdf8;
  padding: 12px 24px;
  border-radius: 8px;
  color: #38bdf8;
  background: transparent;
}

/* COURSES */
.course-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.course-card {
  padding: 20px;
  max-width: 300px;
  transition: 0.3s;
}

/* MOBILE */
.hamburger {
  display: none;
}

@media (max-width:768px){
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background: #020617;
    display: none;
    padding: 20px;
  }

  .nav-links.active {
    display: flex;
  }

  .gradient-text {
    font-size: 28px;
  }
}
